.footer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: var(--dark);
}

.footer p {
  padding: 2rem;
}

.social-links {
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.social-links a {
  color: var(--light);
}

.fa-icon {
  transition: var(--transition);
}

.fa-icon:hover {
  opacity: 0.5;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext{
  visibility: hidden;
  width: 160px;
  background-color:var(--light);
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 5px 4px;
  border-radius: 6px;
  position: absolute;
  left: 2.3rem;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
