.footer {

  margin: 0 auto;
  padding-top: 10rem;
  text-align: center;
  background: var(--dark);
  /*clip-path: polygon(49% 17%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);*/

}

.footer p {
  padding: 1.5rem;
}

.social-links {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

@media(max-width: 1000px) {
  .social-links {
    width: 80%;
  }
}

.social-links a {
  color: var(--light);
}

.fa-icon {
  transition: var(--transition);
}

.fa-icon:hover {
  opacity: 0.5;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  border: none;
}

.tooltip .tooltiptext{
  visibility: hidden;
  width: 160px;
  background-color:var(--light);
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 5px 4px;
  border-radius: 6px;
  position: absolute;
  left: 2.3rem;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
