.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content {
  margin: 0 auto;
  width: 70%;

}

.heading {
  font-size: 6.5rem;
}

.heading,
.subheading {
  line-height: 1.2;
}

.subheading {
  margin-top: 4rem;
  font-size: 2.5rem;
}

@media(max-width: 1000px) {
  .heading {
    font-size: 5rem
  }

  .subheading {
    font-size: 2rem;
  }
}

@media(max-width: 800px) {
  .heading {
    font-size: 4rem
  }

  .subheading {
    font-size: 2rem;
  }
}

@media(max-width: 600px) {
  .hero-content {
    width: 85%;

  }
  .heading {
    font-size: 3rem
  }

  .subheading {
    font-size: 1.5rem;
  }
}

.hero-down-arrow {
  text-align: center;
  margin-top: 7rem;
}

.hero-down-arrow a {
  color: var(--light);
  transition: var(--transition);
}

.hero-down-arrow a:hover {
  opacity: 0.5;
}

.hero-down-arrow .material-icons {
  font-size: 5rem;
  cursor: pointer;
}
