.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content {
  width: 70%;

}

.heading {
  font-size: 4.5rem;
}

.subheading {
  margin-top: 2rem;
  font-size: 2rem;
}

.hero-btn-group {
  margin-top: 4rem;
  display: flex;
  justify-content: center;


}

.hero-btn-group button {
  margin: 1rem;
}

.hero-down-arrow {
  text-align: center;
  margin-top: 7rem;
}

.hero-down-arrow a {
  color: var(--light);
  transition: var(--transition);
}

.hero-down-arrow a:hover {
  opacity: 0.5;
}

.hero-down-arrow .material-icons {
  font-size: 5rem;
  cursor: pointer;
}
