html {
  scroll-behavior: smooth;
}

/*Variables */
:root {
  --primary: #2c1b40;
  --dark: #0d0a12;
  --light: #ddd;
  --transition: 0.3s ease;
  --borderRadius: 40px;
}

/*#1f152b*/

*, *::before, *::after  {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 2.3px;
  line-height: 2.5rem;

}
/*font-family: 'Josefin Sans', sans-serif;*/



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--primary);
    color: var(--light);
}

h2 {
  font-size: 2.5rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, li, p {
  font-size: 1.5rem;
}

.btn {
  font-size: 1.5rem;
  padding: 1.5rem 2.5rem;
  font-weight: bold;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: var(--transition);
  transform-origin: bottom;
  text-transform: uppercase;
  position: relative;
}

.btn:hover {
  background: var(--light);
  color: var(--primary);
}

.primary-btn {
  background: var(--light);
  border: 2px solid var(--light);
  color: var(--primary);
}



.primary-btn:hover {
  background: var(--primary);
  color: var(--light);
}

.secondary-btn {
  background: none;
  border: 2px solid var(--light);
  color: var(--light);
}

.secondary-btn:hover {
  background: var(--light);
  color: var(--dark);
}


.link {
  border-radius: var(--borderRadius);
  font-weight: 700;
  position: relative;
  padding: 0.5rem 1.5rem;
  transition: var(--transition);
  margin-top: 1.5rem;
  text-align: center;
}

.primary-link {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: var(--light);
}

.primary-link:hover {
  color: var(--dark);
  background: var(--light);
}

.secondary-link {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.secondary-link:hover {
  color: var(--light);
  background: var(--primary);
}

.section-global-styles {
  width: 80%;
  padding: 5rem;
  margin: 0 auto;
}

@media(max-width: 1400px) {
  .section-global-styles {
    width: 95%;
  }
}
