.portfolio {
  background: var(--light);
  color: var(--dark);
  clip-path: polygon(27% 5%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);

}

.portfolio h2 {
  margin: 12rem 1rem 2rem 1rem;
}

.portfolio h2,
.portfolio h3,
.portfolio p,
.portfolio li {
  color: var(--primary);
}

.portfolio h3 {
  margin-top: 1.5rem;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.project {
  display: flex;
  margin: 5rem 3rem;
  align-items: center;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.project-content,
.project-img-container {
  padding: 2rem;
}

.project-img {
  width: 550px;
  height: 450px;
  box-shadow: 4px 4px 10px var(--dark);
}

@media(max-width: 1500px) {
  .project {
    flex-direction: column;
    padding: 1rem;
  }

  .project-content {
    width: 70%;
    align-items: stretch;
  }

  .portfolio h3 {
    margin-top: 0.5rem;
  }
}

@media(max-width: 1200px) {
  .project-img {
    width: 450px;
    height: 350px;
  }

  .project-content {
    width: 90%;
    align-items: stretch;
  }
}

@media(max-width: 1200px) {
  .project-img {
    width: 400px;
    height: 300px;
  }
}

@media(max-width: 400px) {
  .project-img {
    width: 350px;
    height: 250px;
  }
}

@media(max-width: 300px) {
  .project-img {
    width: 290px;
    height: 190px;
  }
}
