.portfolio {
  background: var(--light);
  color: var(--dark);
}

.portfolio h2 {
  margin-bottom: 2rem;
}

.portfolio h2,
.portfolio h3,
.portfolio p,
.portfolio li {
  color: var(--primary);
}

.portfolio h3 {
  margin-top: 1.5rem;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.project {
  display: flex;
  margin: 5rem 3rem;
  align-items: center;
}

@media(max-width: 1500px) {
  .project {
    flex-direction: column;
  }
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-content,
.project-img-container {
  padding: 2rem;
}

.project-img {
  width: 550px;
  height: 450px;
  box-shadow: 4px 4px 10px var(--dark);

}
