.portfolio {
  background: var(--light);
  color: var(--dark);
}

.portfolio h2 {
  margin-bottom: 2rem;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.project {
  display: flex;
  margin: 3rem;
  align-items: center;

}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-content,
.project-img {
  padding: 1rem;
}

.project-img {

}
